<%= form_with model: @user do |form| %>
  <div class="card">
    <div class="card-body">
        
        <div class="mb-3">
            <%= form.label :name %><br>
            <%= form.text_field :name %>
        </div>

        <div class="mb-3">
            <%= form.label :role %>
            <%= form.select :role, User.roles.keys %>
        </div>
        
        <div class="mb-3">
            <%= form.label :email %><br />
            <%= form.email_field :email%>
        </div>
        
        <div class="mb-3">
            <%= form.label :password %>
            <%= form.password_field :password%>
        </div>
        
        <div class="mb-3">
            <%= form.label :password_confirmation %><br />
            <%= form.password_field :password_confirmation%>
        </div>

        <%= form.submit :Enviar, class: 'btn btn-success'%> |
        <%= form.submit "Limpiar", :type => "reset", class: "btn btn-primary" %>
    </div>
</div>
<% end %>