<%#= form_for @user, url: users_path, html: { method: :post } do |form| %>
<%= form_with model: @user do |form| %>
  <div class="card">
    <div class="card-body">
        
        <div class="mb-3">
            <%= form.label :name %><br>
            <%= form.text_field :name %>
        </div>

        <div class="mb-3" onchange="soy_empleado(this.value);">
            <%= form.label :role %>
            <%= form.select :role, [@roles[0],@roles[1]] %>
        </div>
        
        <div class="mb-3" id="select_sucursal" style="visibility:hidden;"> 
            <%= form.select :subsidiary_id, options_from_collection_for_select(@subsidiaries, :id, :name_subsidiary, include_blank: "Seleccione sucursal") %>
        </div>

        <button style="visibility:hidden;" type="button" class="btn btn-primary btn-lg" id="select_sucursal"> Apretame </button>

        
        <div class="mb-3">
            <%= form.label :email %><br />
            <%= form.email_field :email%>
        </div>
        
        <div class="mb-3">
            <%= form.label :password %>
            <%= form.password_field :password%>
        </div>
        
        <div class="mb-3">
            <%= form.label :password_confirmation %><br />
            <%= form.password_field :password_confirmation%>
        </div>

        <%= form.submit :Enviar, class: 'btn btn-success'%> |
        <%= form.submit "Limpiar", :type => "reset", class: "btn btn-primary" %>
    </div>
</div>
<% end %>

<!-- FUNCIONES JAVASCRIPT -->

<script type="text/javascript">
    function soy_empleado(valor) {
      if (valor == "Administrador"){
        document.getElementById("select_sucursal").style.visibility = "hidden"
        }else{
          document.getElementById("select_sucursal").style.visibility = "visible"
          }
      }
</script>