<p class="fs-2">Editar el horario del dia <%= @schedule.day_week %> de la sucursal <%= @subsidiary.name_subsidiary %> </p>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
   <hr class="bg-danger border-2 border-top border-danger">
</p>

<p><em> Modifique el horario</em></p>

<%= form_for @schedule, url: subsidiary_schedule_path, html: { method: :put } do |form| %>
   <%= render 'form', form: form %>
<% end %>

<%= link_to 'Volver', subsidiary_schedules_path , class: 'btn,btn-secondary' %>
