<% flash.each do |flash_type, message| %>
  <% if flash[:success] %>
    <div class="alert alert-success" role="alert">
      <%= message %>
    </div>
  <% else %>
    <% if flash[:danger] %>
      <div class="alert alert-danger" role="alert">
       <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h2>Horarios de la sucursal <%= @subsidiary.name_subsidiary %></h2>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
   <hr class="bg-danger border-2 border-top border-danger">
</p>

<%= will_paginate @schedules %>


<table class="table">
  <thead class="table-dark">
    <tr>
    <th scope="col">#</th>
      <th scope="col">Dia de la semana</th>
      <th scope="col">Hora desde</th>
      <th scope="col">Hora hasta</th>
      <% if can? :update, Schedule %>
        <th scope="col">Modificar</th>
      <% end %>
      <% if can? :destroy, Schedule %>
        <th scope="col">Eliminar</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% @schedules.each do |schedule| %>
      <tr>
          <th scope="row"> <%=schedule.id%> </th>
          <td> <%= schedule.day_week %> </td>
          <td> <%= "#{schedule.hour_since.strftime("%H:%M")}" %> </td>
          <td> <%= "#{schedule.hour_until.strftime("%H:%M")}" %> </td>

          <% if can? :update, Schedule %>
            <td><%= link_to edit_subsidiary_schedule_path(@subsidiary.id,schedule.id) do %>
                <%= image_tag "ui-edit.svg", size: "20x20", class: "some class here" %>
            </td>
            <% end %>
          <% end %>
          
          <% if can? :destroy, Schedule %>
            <td><%= link_to subsidiary_schedule_path(@subsidiary.id,schedule.id), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Estas seguro de eliminar el horario"  } do %>
                <%= image_tag "ui-delete.svg", size: "20x20", class: "some class here" %>
            </td>
            <% end %>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @schedules.empty? %>
  <p class="text-primary">La sucursal no tiene horarios definidos</p>
<% end %>

<%= will_paginate @schedules, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

<%= link_to 'Volver', subsidiaries_path , class: 'btn,btn-secondary' %>