
<% flash.each do |flash_type, message| %>
<div class="alert alert-danger" role="alert">
   <%= message %>
</div>
<% end %>

<h2>Mis turnos</h2>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
   <hr class="bg-danger border-2 border-top border-danger">
</p>

<button type="button" class="btn btn-primary btn-lg"> <%= link_to "Solicitar turno", turns_new_path %> </button>

<%= will_paginate @turnos_usuario_actual %>


<table class="table">
  <thead class="table-dark">
    <tr>
    <th scope="col">#</th>
      <th scope="col">Fecha</th>
      <th scope="col">Hora</th>
      <th scope="col">Motivo</th>
      <th scope="col">Estado</th>
      <th scope="col">Sucursal</th>
      <th scope="col">Modificar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
  <% @turnos_usuario_actual.each do |turno| %>
      <tr>
          <th scope="row"> <%=turno.id%> </th>
          <td> <%= '10/11/22' %> </td>
          <td> <%= '08:00' %> </td>
          <td> <%= turno.reason_turn %> </td>
          <td> <%= turno.state %> </td>
          <td> <%= turno.subsidiary.address %> </td>
          
          <td><%= link_to turns_edit_path(turno.id) do %>
            <%= image_tag "ui-edit.svg", size: "20x20", class: "some class here" %>
          <% end %></td>
          <td><%= link_to turns_destroy_path(:turno => turno.id), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Estas seguro de eliminar el turno con fecha?"  } do %>
            <%= image_tag "ui-delete.svg", size: "20x20", class: "some class here" %>
          <% end %></td>
      </tr>
    <%end %>
  </tbody>
</table>

<% if @turnos_usuario_actual.empty? %>
  <p class="text-primary">No posee turnos por el momento</p>
<% end %>


<%= will_paginate @turnos_usuario_actual, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>