<% flash.each do |flash_type, message| %>
  <% if flash[:success] %>
    <div class="alert alert-success" role="alert">
      <%= message %>
    </div>
  <% else %>
    <% if flash[:danger] %>
      <div class="alert alert-danger" role="alert">
       <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>


<%if current_user.role == 'Empleado'%>
  <h2>Turnos de la sucursal <%= @subsidiary.name_subsidiary%> </h2>
<%elsif current_user.role == 'Cliente'%>
  <h2>Mis turnos</h2>
<%end%>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
   <hr class="bg-danger border-2 border-top border-danger">
</p>


<% if can? :create, Turn %>
  <div> <%= link_to 'Solicitar turno', new_turn_path, :class => "btn btn-primary" %> </div>
<% end %>

<%= will_paginate @turns %>


<table class="table">
  <thead class="table-dark">
    <tr>
    <th scope="col">#</th>
      <th scope="col">Fecha</th>
      <th scope="col">Hora</th>
      <th scope="col">Motivo</th>
      <th scope="col">Comentario</th>
      <th scope="col">Estado</th>
      <th scope="col">Sucursal</th>
      <th scope="col">Empleado</th>
      <% if current_user.role == 'Empleado' %>
        <th scope="col">Atender</th>
      <% end %>
      <% if current_user.role == 'Cliente' %>
        <th scope="col">Modificar</th>
        <th scope="col">Eliminar</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% @turns.each do |turn| %>
      <tr>
          <th scope="row"> <%=turn.id%> </th>
          <td> <%= turn.turn_date.strftime('%m/%d/%Y') %> </td>
          <td> <%= turn.hour.strftime("%H:%M") %> </td>
          <td> <%= turn.reason_turn %> </td>

          <% if turn.comment.nil? %>
            <td><p> Sin comentarios </p></td>
          <% else %>
            <td> <%= turn.comment %> </td>
          <% end %>

          <td> <%= turn.state %> </td>
          <td> <%= turn.subsidiary.name_subsidiary %> </td>

          <% if turn.user_bank.nil? %>
            <td><p> No atendido por nadie </p></td>
          <% else %>
            <td> <%= turn.user_bank.name %> </td>
          <% end %>

          <% if (can? :attention, turn) && (turn.state == 'Pendiente') %>
            <td><%= link_to attention_turn_path(turn.id) do %>
                <%= image_tag "people-fill.svg", size: "20x20", class: "some class here" %>
            <% end %></td>
          <% elsif (current_user.role == 'Empleado')%>
              <td><%= image_tag "exclamation-triangle-fill.svg", size: "20x20", class: "some class here" %>
              </td>
          <% end %>
          
          <% if (can? :update, turn) && (turn.state == 'Pendiente')  %>
            <td><%= link_to edit_turn_path(turn.id) do %>
                <%= image_tag "ui-edit.svg", size: "20x20", class: "some class here" %>
            <% end %></td>
          <% elsif (current_user.role == 'Cliente')%>
              <td><%= image_tag "exclamation-triangle-fill.svg", size: "20x20", class: "some class here" %>
              </td>
          <% end %>

          <% if (can? :destroy, turn) && (turn.state == 'Pendiente') && (current_user.role == 'Cliente')  %>
            <td><%= link_to turn_path(turn.id), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Estas seguro de eliminar el turno con fecha?"  } do %>
              <%= image_tag "ui-delete.svg", size: "20x20", class: "some class here" %>
            <% end %></td>
          <% elsif (current_user.role == 'Cliente')%>
            <td><%= image_tag "exclamation-triangle-fill.svg", size: "20x20", class: "some class here" %>
              </td>
          <% end %>
      </tr>
    <%end %>
  </tbody>
</table>

<% if @turns.empty? %>
  <p class="text-primary">No posee turnos por el momento</p>
<% end %>


<%= will_paginate @turns, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>