<p class="fs-2">Formulario para obtener un turno</p>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
   <hr class="bg-danger border-2 border-top border-danger">
</p>

<p><em>Usted selecciono la sucursal <%= @una_sucursal.name_subsidiary %>. Dicha sucursal tiene los siguentes horarios:</em></p>

<table class="table table-success table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Dia</th>
      <th scope="col">Desde</th>
      <th scope="col">Hasta</th>
    </tr>
  </thead>
  <tbody>
  <%= @turnos.each do |t| %>
    <tr>
        <th scope="row"><%= t.id%> </th>
        <td> <%= t.day_week %> </td>
        <td> <%= t.hour_since %> </td>
        <td> <%= t.hour_until %> </td>
    </tr>
    <% end %>
  </tbody>
</table>