<% flash.each do |flash_type, message| %>
  <% if flash[:success] %>
    <div class="alert alert-success" role="alert">
      <%= message %>
    </div>
  <% else %>
    <% if flash[:danger] %>
      <div class="alert alert-danger" role="alert">
       <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h2>Todas las sucursales</h2>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
   <hr class="bg-danger border-2 border-top border-danger">
</p>

<% if can? :create, Subsidiary %>
  <div> <%= link_to 'Crear sucursal', new_subsidiary_path, :class => "btn btn-primary" %> </div>
<% end %>

<%= will_paginate @subsidiaries %>


<table class="table">
  <thead class="table-dark">
    <tr>
    <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Direccion</th>
      <th scope="col">Telefono</th>
      <th scope="col">Localidad</th>
      <th scope="col">Ver horarios</th>
      <th scope="col">Asignar horarios</th>
      <% if can? :update, Subsidiary %>
        <th scope="col">Modificar</th>
      <% end %>
      <% if can? :destroy, Subsidiary %>
        <th scope="col">Eliminar</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% @subsidiaries.each do |subsidiary| %>
      <tr>
          <th scope="row"> <%=subsidiary.id%> </th>
          <td> <%= subsidiary.name_subsidiary %> </td>
          <td> <%= subsidiary.address %> </td>
          <td> <%= subsidiary.phone %> </td>
          <td> <%= subsidiary.locality.name_locality %> </td>

          <td><%= link_to subsidiary_schedules_path(subsidiary.id) do %>
              <%= image_tag "calendar-date.svg", size: "20x20", class: "some class here" %>
          </td>
          <% end %>
          
          <td><%= link_to new_subsidiary_schedule_path(subsidiary.id) do %>
              <%= image_tag "alarm.svg", size: "20x20", class: "some class here" %>
          </td>
          <% end %>

          <% if can? :update, Subsidiary %>
            <td><%= link_to edit_subsidiary_path(subsidiary.id) do %>
                <%= image_tag "ui-edit.svg", size: "20x20", class: "some class here" %>
            </td>
            <% end %>
          <% end %>

          <% if can? :destroy, Subsidiary %>
            <td><%= link_to subsidiary_path(subsidiary.id), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Estas seguro de eliminar la sucursal"  } do %>
                <%= image_tag "ui-delete.svg", size: "20x20", class: "some class here" %>
            </td>
            <% end %>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @subsidiaries.empty? %>
  <p class="text-primary">No existen sucursales cargadas</p>
<% end %>


<%= will_paginate @subsidiary, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
