<p class="fs-2">Formulario para la creacion de sucursal</p>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
   <hr class="bg-danger border-2 border-top border-danger">
</p>

<%= form_with model: @sucursal do |form| %>
  <p>
    <%= form.label :name_subsidiary %><br>
    <%= form.text_field :name_subsidiary %>

    <%= form.label :address %><br>
    <%= form.text_field :address %>

    <%= form.label :phone %><br>
    <%= form.number_field :phone %>

    <%= form.label :locality %><br>
    <%= @todas_localidades.each do |localidad| %>
      <%= form.select :Localidad, [localidad.name_locality] %>
    <% end %>
  <%= link_to "Crear sucursal", "/subsidiaries" %>
<% end %>