<p class="fs-2">Formulario para la creacion de sucursal</p>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
   <hr class="bg-danger border-2 border-top border-danger">
</p>


<%= form_with model: @sucursal do |form| %>
  <%= form.text_field :name_subsidiary %>
  <%= form.text_field :address %>
  <%= form.number_field :phone %>
  <%= @todas_localidades.each do |localidad| %>
    <%= form.select :localidad, [localidad.name_locality] %>
  <% end %>
  <%= form.submit subsidiary_management_create_path %>
<% end %>