<!DOCTYPE html>
<html>
  <%= stylesheet_link_tag "diseño_login" %>
  <head>
    <title>Banco</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="cabecera">
    <%= link_to "dashboard", sessions_dashboard_path %>
    <%= link_to "Home", root_path %>
    <% if current_user %>
      <p>Bienvenido <%= current_user.name %> </p>
      <%= button_to "Cerrar sesion", destroy_user_session_path, method: :delete, data: { turbo:false } %>
    <% else %>
    <% end %>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    
    
    <%= yield %>
  </body>
</html>
